# 👉 Временные файлы сборки
bin/
obj/
out/
*.log

# 👉 Базы данных
*.mdf
*.ldf
*.ndf

# 👉 JetBrains Rider / IntelliJ IDEA
.idea/

# 👉 Visual Studio
.vs/
*.user
*.suo

# 👉 Секретные файлы конфигурации
.env
appsettings.*.json
!appsettings.json
